; J8697A Configuration Editor; Created on release #K.15.16.0008
; Ver #06:74.fc.7f.ff.3f.ef:de
hostname "dist2.lgf.local"
module 1 type j8702a
module 2 type j8705a
module 3 type j8702a
console baud-rate 115200
dhcp-snooping authorized-server 172.16.10.2
trunk B19-B20 trk1 lacp
logging 172.16.10.10
logging origin-id hostname
max-vlans 2048
sflow 1 destination 10.10.10.11 9992
sflow 1 polling A1-A24,B1-B18,B21-B24,C1-C24,Trk1 20
sflow 1 sampling A1-A24,B1-B18,B21-B24,C1-C24,Trk1 256
no telnet-server
time daylight-time-rule continental-us-and-canada
time timezone 60
no web-management
ip router-id 127.1.1.3
ip routing
interface A1
   disable
   exit
interface A8
   disable
   exit
interface A9
   disable
   exit
interface A10
   disable
   exit
interface A11
   disable
   exit
interface A12
   disable
   exit
interface A13
   disable
   exit
interface A14
   disable
   exit
interface A15
   disable
   exit
interface A16
   disable
   exit
interface A17
   disable
   exit
interface A18
   disable
   exit
interface A19
   disable
   exit
interface A20
   disable
   exit
interface A22
   disable
   exit
interface A24
   disable
   exit
interface C1
   disable
   exit
interface C2
   disable
   exit
interface C3
   disable
   exit
interface C4
   disable
   exit
interface C5
   disable
   exit
interface C6
   disable
   exit
interface C7
   disable
   exit
interface C8
   disable
   exit
interface C9
   disable
   exit
interface C10
   disable
   exit
interface C11
   disable
   exit
interface C12
   disable
   exit
interface C13
   disable
   exit
interface C14
   disable
   exit
interface C15
   disable
   exit
interface C16
   disable
   exit
interface C17
   disable
   exit
interface C18
   disable
   exit
interface C19
   disable
   exit
interface C20
   disable
   exit
interface C21
   disable
   exit
interface C22
   disable
   exit
interface C23
   disable
   exit
interface C24
   disable
   exit
interface Trk1
   dhcp-snooping trust
   exit
snmp-server community "lgf" operator
snmp-server host 172.16.10.10 community "lgf"
router ospf
   area 0.0.0.1 virtual-link 127.1.1.1
   area backbone
   redistribute connected
   no rfc1583-compatibility
   trap all
   enable
   exit
vlan 1
   name "DEFAULT_VLAN"
   no untagged A2-A24,B1,C1-C24
   untagged A1,B2-B18,B21-B24,Trk1
   ip address dhcp-bootp
   exit
vlan 3
   name "VLAN3"
   tagged Trk1
   ip address 10.255.255.6 255.255.255.252
   ip ospf 10.255.255.6 area 0.0.0.1
   jumbo
   exit
vlan 7
   name "VLAN7"
   tagged A1-A24,B1-B18,B21-B24,C1-C24,Trk1
   ip address 10.7.7.3 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 10
   name "VLAN10"
   untagged C1-C24
   tagged Trk1
   ip address 10.10.10.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 102
   name "VLAN102"
   untagged A2
   tagged Trk1
   ip address 192.168.2.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 103
   name "VLAN103"
   untagged A3
   tagged Trk1
   ip address 192.168.3.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 104
   name "VLAN104"
   untagged A4
   tagged Trk1
   ip address 192.168.4.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 105
   name "VLAN105"
   untagged A5
   tagged Trk1
   ip address 192.168.5.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 106
   name "VLAN106"
   untagged A6
   tagged Trk1
   ip address 192.168.6.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 107
   name "VLAN107"
   untagged A7
   tagged Trk1
   ip address 192.168.7.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 108
   name "VLAN108"
   untagged A8
   tagged Trk1
   ip address 192.168.8.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 109
   name "VLAN109"
   untagged A9
   tagged Trk1
   ip address 192.168.9.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 110
   name "VLAN110"
   untagged A10
   tagged Trk1
   ip address 192.168.10.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 111
   name "VLAN111"
   untagged A11
   tagged Trk1
   ip address 192.168.11.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 112
   name "VLAN112"
   untagged A12
   tagged Trk1
   ip address 192.168.12.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 113
   name "VLAN113"
   untagged A13
   tagged Trk1
   ip address 192.168.13.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 114
   name "VLAN114"
   untagged A14
   tagged Trk1
   ip address 192.168.14.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 115
   name "VLAN115"
   untagged A15
   tagged Trk1
   ip address 192.168.15.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 116
   name "VLAN116"
   untagged A16
   tagged Trk1
   ip address 192.168.16.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 117
   name "VLAN117"
   untagged A17
   tagged Trk1
   ip address 192.168.17.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 118
   name "VLAN118"
   untagged A18
   tagged Trk1
   ip address 192.168.18.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 119
   name "VLAN119"
   untagged A19
   tagged Trk1
   ip address 192.168.19.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 120
   name "VLAN120"
   untagged A20
   tagged Trk1
   ip address 192.168.20.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 121
   name "VLAN121"
   untagged A21
   tagged Trk1
   ip address 192.168.21.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 122
   name "VLAN122"
   untagged A22
   tagged Trk1
   ip address 192.168.22.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 123
   name "VLAN123"
   untagged A23
   tagged Trk1
   ip address 192.168.23.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
vlan 124
   name "VLAN124"
   untagged A24
   tagged Trk1
   ip address 192.168.24.2 255.255.255.0
   ip helper-address 10.10.10.10
   exit
primary-vlan 3
management-vlan 7
spanning-tree A3 admin-edge-port
spanning-tree Trk1 priority 4
no spanning-tree bpdu-throttle
spanning-tree mode rapid-pvst
no tftp server
no autorun
no dhcp config-file-update
no dhcp image-file-update
password manager
password operator

